# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\js_proj\30-js-projects\JS and CSS Clock\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
